@use "../styles/base/fonts";
@use "../styles/base/reset";
@use "../styles/base/typography" as type;
@use "../styles/base/variables";
@use "../styles/abstract/media" as *;

body {
  background: var(--color-bg-base);
  color: var(--color-text-primary);
  @include type.body-2-book;
}

.fullHeight {
  height: 100dvh;
}

.fullWidthMobile {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  overflow-x: scroll;

  @include respond-to(lg) {
    width: unset;
    margin: unset;
    overflow: auto;
  }
}
