@use "../../../styles/abstract/functions" as *;
@use "../../../styles/abstract/media" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns-number, 4), 1fr);
  grid-template-rows: auto;

  width: 100vw;
  margin-inline: calc(50% - 50vw);
  overflow-y: scroll;

  @include respond-to(lg) {
    width: unset;
    margin: unset;
    overflow: auto;
  }
}

.gridItem {
  padding: rem(16);

  &:not(:last-of-type) {
    border-right: 1px solid var(--color-border-primary-muted);
  }
}
