@use "../../../styles/abstract/media" as *;
@use "../../../styles/abstract/functions" as *;

.grid {
  display: flex;
  flex-direction: column;
  background-color: var(--color-border-primary-muted);
  gap: rem(1);
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-border-primary-muted);
  gap: rem(1);
}

.cell {
  background-color: var(--color-bg-base);
  min-width: 0;
}

.center {
  min-width: 0;
}

.side {
  display: none;
}

@include respond-to(md) {
  .row {
    grid-template-columns: rem(16) minmax(0, 1fr) rem(16);
  }

  .side {
    display: block;
  }
}

@include respond-to(lg) {
  .row {
    grid-template-columns: rem(40) minmax(0, 1fr) rem(40);
  }
}

@include respond-to(xl) {
  .row {
    grid-template-columns: rem(280) minmax(0, 1fr) rem(280);
  }
}
